{% extends 'frame.html' %}
{% load assets %}

{% block head %}

  {% assets "css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}

  <title>
    {% block title %}
        Metadata 
    {% endblock %}
  </title>
  {% block extra_head %}{% endblock %}

{% endblock %}


{% block zope_content %}

  <script>
  </script>

  <div class="content clearfix">
  <div class="logo text-right header">
      <img src="http://projects.eionet.europa.eu/flis-services-project/flip/static/img/logo.png" width="90" height="100" alt="Live Catalogue">
  </div>
    <h1>Metadata</h1>
    {% block content %}{% endblock %}
  </div>


  {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block scripts %}{% endblock %}

{% endblock %}
